/* General*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {

    background-color: whitesmoke;
}

/* header logo*/
header {

    background-color: white;
    font-size: 35px;
    font-weight: 700;
    padding: 30px;
    
}

#title {
    font-size: 50px;
}

#logo {

    vertical-align: middle;
}

/* Box 1 */

.box1 {

    background: white;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    ;
}

/* Add Task/Section */

.inputs {

    padding: 50px;
}

#add1 {
    
    color: white;
    background-color: rgb(20, 188, 240);
    border-radius: 5px;
    padding: 10px;
    
}

#add2 {

    color: lightgray;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    
}

/* Box 2 */

.box2 {

    background: white;
    margin-top: 5px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
}

/* List 1 */

#first {
    padding: 50px;
    padding-bottom: 0px;
}

.list {

    margin-top: 5px;
    margin-left: 5px;
    list-style: none;
    font-weight: 700;
    padding: 15px;
    
    
}


.icon-yes {

    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;

}

.asideboxblue {

    color: white;
    font-weight: lighter;
    background-color: rgb(20, 188, 240);
    border-radius: 20px;
    padding: 10px;
}

/* List 2 */

#second {
    padding: 50px;
    padding-top: 50px;
    padding-bottom: 0;
}

.asideboxpurple {

    color: white;
    font-weight: lighter;
    background-color: rgb(115, 20, 240);
    border-radius: 20px;
    padding: 10px;
    
}

.icon-no {

    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}

.asideboxgreen {

    color: white;
    font-weight: lighter;
    background-color: rgb(49, 119, 84);
    border-radius: 20px;
    padding: 10px;
    
}

.asideboxorange {

    color: white;
    font-weight: lighter;
    background-color: rgb(240, 137, 20);
    border-radius: 20px;
    padding: 10px;
    
}

/* List 3 */

#third {

    padding: 50px;
    padding-top: 50px;
    padding-bottom: 50;


}

.asideboxpink {

    color: white;
    font-weight: lighter;
    background-color: rgb(203, 20, 240);
    border-radius: 20px;
    padding: 10px;
}

.asideboxgreen2 {

    color: white;
    font-weight: lighter;
    background-color: rgb(126, 145, 57);
    border-radius: 20px;
    padding: 10px;
}